* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-image: url("../../../Images/background.jpg");
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    font-family: 'Bubblegum Sans', cursive;
    align-items: center;
}
body:hover {
    cursor: default;
}
h1 {
    margin-top: 30px;
    font-family: 'Stalinist One', cursive;
    font-size: 40px;
}
.introFase3 {
    margin: 50px;
    width: 60%;
    background-color: rgba(221, 180, 127, 0.767);
    border: rgb(0, 0, 0) 3px dashed;
    border-radius: 20px;
    padding: 20px;
    font-size: 22px;
}
.introFase3 img {
    height: 100px;
    float: left;
    border-radius: 20px;
    margin-right: 20px;
}
.batalhaNaval {
    width: 60%;
    display: flex;
    justify-content: space-around;
}
.dialogo {
    margin: 50px 0;
    width: 60%;
    background-color: rgba(221, 180, 127, 0.767);
    border: rgb(0, 0, 0) 3px dashed;
    border-radius: 20px;
    padding: 20px;
    font-size: 30px;
}
.dialogo img {
    height: 100px;
    float: right;
    border-radius: 20px;
}
.dialogo button {
    font-family: 'Bubblegum Sans', cursive;
    background: radial-gradient(circle, rgba(226,233,148,0.90) 0%, rgba(251,167,62,0.90) 100%);
    border:rgb(0, 0, 0) solid;
    padding: 10px;
    font-size: 20px;
}
.botao {
    margin-top: 15px;
    display: flex;
    justify-content: space-evenly;
}
.atacar {
    transition: all 0.5s;
}
.atacar:hover {
   color:red;
   border-color:red;
}
@media (max-width: 1120px){
    .batalhaNaval img {
        height: 180px;
    }
}
@media (max-width: 620px){
    .batalhaNaval {
        width: auto;
        display: flex;
        flex-direction: column;
    }
    .batalhaNaval img {
        width: 180px;
    }
}
@media (max-width: 500px){
    h1 {
        font-size: 20px;
    }
}